<div>
    <br>
    <h4>Оформление заказа</h4>
    <form novalidate ng-submit="checkout()">
        <label for="address">
            <input id="address" class="form-control" type="text" placeholder="Адрес доставки" ng-model="inputForm.address">
        </label>
        <label for="phone">
            <input id="phone" class="form-control" type="text" placeholder="Номер телефона" ng-model="inputForm.phone">
        </label>
        <br>
        <input class="btn btn-primary btn-sm" type="submit">
        <input class="btn btn-secondary btn-sm" type="reset">
    </form>
</div>