<div>
    <h2>Web market</h2>
    <table class="table">
        <thead>
        <tr>
            <td colspan="2">
                <div class="btn-group-sm">
                    <label>Текущая страница: </label>
                    <label class="btn btn-outline-info" ng-click="firstPage()">&nbsp;&laquo;&nbsp;</label>
                    <label class="btn btn-outline-info" ng-click="previousPage()">&nbsp;&lsaquo;&nbsp;</label>
                    <label class="btn btn-outline-info">{{currentPage}}</label>
                    <label class="btn btn-outline-info" ng-click="nextPage()">&nbsp;&rsaquo;&nbsp;</label>
                    <label class="btn btn-outline-info" ng-click="lastPage()">&nbsp;&raquo;&nbsp;</label>
                </div>
            </td>
            <td colspan="2">
                <div class="btn-group-sm">
                    <label>Кол-во на странице: </label>
                    <label class="btn btn-outline-info" ng-model="itemsPerPage" uib-btn-radio="5">5</label>
                    <label class="btn btn-outline-info" ng-model="itemsPerPage" uib-btn-radio="10">10</label>
                    <label class="btn btn-outline-info" ng-model="itemsPerPage" uib-btn-radio="20">20</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>ИД</td>
            <td>Название</td>
            <td>Цена</td>
        </tr>
        </thead>
        <tbody ng-repeat="p in products">
        <tr>
            <td>{{p.title}}</td>
            <td>{{p.price}}</td>
            <td>
                <button class="btn btn-primary btn-sm" ng-click="getInfo(p.id, p.title, p.price)">Инфо</button>
            </td>
            <td>
                <button class="btn btn-outline-info btn-sm" ng-click="addToCart(p.id)">Добавить в корзину</button>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
</div>