<div>
    <h3>Регистрация пользователя</h3>
    <form novalidate ng-submit="registerUser()">
        <label for="username">
            <input id="username" class="form-control" type="text" placeholder="username" ng-model="inputForm.username">
        </label>
        <br>
        <label for="password">
            <input id="password" class="form-control" type="password" placeholder="password" ng-model="inputForm.password">
        </label>
        <label for="re-password">
            <input id="re-password" class="form-control" type="password" placeholder="repeat password" ng-model="inputForm.passwordRepeat">
        </label>

        <br>
        <label for="lastName">
            <input id="lastName" class="form-control" type="text" placeholder="Фамилия" ng-model="inputForm.lastName">
        </label>
        <label for="firstName">
            <input id="firstName" class="form-control" type="text" placeholder="Имя" ng-model="inputForm.firstName">
        </label>
        <label for="midName">
            <input id="midName" class="form-control" type="text" placeholder="Отчество" ng-model="inputForm.middleName">
        </label>
        <br>
        <label for="email">
            <input id="email" class="form-control" type="text" placeholder="email@example.com" ng-model="inputForm.email">
        </label>
        <br>
        <input class="btn btn-primary btn-sm" type="submit">
        <input class="btn btn-secondary btn-sm" type="reset">
    </form>
</div>